# Importing libraries

In [3]:
# import libraries
import pandas as pd
import numpy as np
import os

In [4]:
#import path
path = r'C:\Users\kanch\Documents\10-08-2023 Instacart Basket Analysis\02 Data\Prepared Data'

In [5]:
# Importing 'orders_products_merged_update.pkl'

df_orders_products_merged = pd.read_pickle(os.path.join(path,'orders_products_merged_updated.pkl'))

In [6]:
df_orders_products_merged.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,busiest_day,busiest_days,busiest_period_of_day
0,0,2539329,1,prior,1,2,8,0.0,196,1,0,both,Soda,77,7,9.0,Regularly busy,Regularly busy,Average orders
1,1,2398795,1,prior,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,Regularly busy,Least busy days,Average orders
2,2,473747,1,prior,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,Regularly busy,Least busy days,Most orders
3,3,2254736,1,prior,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0,Least busy,Least busy days,Average orders
4,4,431534,1,prior,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0,Least busy,Least busy days,Most orders

In [7]:
df_orders_products_merged.shape

(32434212, 19)

In [8]:
#Creating Subset
df = df_orders_products_merged[:1000000]

In [9]:
df.shape

(1000000, 19)

In [10]:
df.head(10)

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,busiest_day,busiest_days,busiest_period_of_day
0,0,2539329,1,prior,1,2,8,0.0,196,1,0,both,Soda,77,7,9.0,Regularly busy,Regularly busy,Average orders
1,1,2398795,1,prior,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,Regularly busy,Least busy days,Average orders
2,2,473747,1,prior,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,Regularly busy,Least busy days,Most orders
3,3,2254736,1,prior,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0,Least busy,Least busy days,Average orders
4,4,431534,1,prior,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0,Least busy,Least busy days,Most orders
5,5,3367565,1,prior,6,2,7,19.0,196,1,1,both,Soda,77,7,9.0,Regularly busy,Regularly busy,Average orders
6,6,550135,1,prior,7,1,9,20.0,196,1,1,both,Soda,77,7,9.0,Regularly busy,Busiest days,Most orders
7,7,3108588,1,prior,8,1,14,14.0,196,2,1,both,Soda,77,7,9.0,Regularly busy,Busiest days,Most orders
8,8,2295261,1,prior,9,1,16,0.0,196,4,1,both,Soda,77,7,9.0,Regularly busy,Busiest days,Most orders
9,9,2550362,1,prior,10,4,8,30.0,196,1,1,both,Soda,77,7,9.0,Least busy,Least busy days,Average orders

In [11]:
#Grouping Data With Pandas

df.groupby('product_name')

# Single Aggregation

In [12]:
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
4                18.825780
7                17.472355
13               17.993423
14               19.246334
16               19.463012
17               11.294069
19               19.305237
20               17.599636

# Performing Multiple Aggregration

In [13]:
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
4                18.825780   1  99
7                17.472355   1  99
13               17.993423   1  99
14               19.246334   1  99
16               19.463012   1  99
17               11.294069   1  98
19               19.305237   1  99
20               17.599636   1  99

# Aggregrating Data With Transform()

In [14]:
df_orders_products_merged['max_order'] = df_orders_products_merged.groupby('user_id')['order_number'].transform(np.max)

In [15]:
df_orders_products_merged.head(25)

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,busiest_day,busiest_days,busiest_period_of_day,max_order
0,0,2539329,1,prior,1,2,8,0.0,196,1,0,both,Soda,77,7,9.0,Regularly busy,Regularly busy,Average orders,10
1,1,2398795,1,prior,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,Regularly busy,Least busy days,Average orders,10
2,2,473747,1,prior,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,Regularly busy,Least busy days,Most orders,10
3,3,2254736,1,prior,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0,Least busy,Least busy days,Average orders,10
4,4,431534,1,prior,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0,Least busy,Least busy days,Most orders,10
5,5,3367565,1,prior,6,2,7,19.0,196,1,1,both,Soda,77,7,9.0,Regularly busy,Regularly busy,Average orders,10
6,6,550135,1,prior,7,1,9,20.0,196,1,1,both,Soda,77,7,9.0,Regularly busy,Busiest days,Most orders,10
7,7,3108588,1,prior,8,1,14,14.0,196,2,1,both,Soda,77,7,9.0,Regularly busy,Busiest days,Most orders,10
8,8,2295261,1,prior,9,1,16,0.0,196,4,1,both,Soda,77,7,9.0,Regularly busy,Busiest days,Most orders,10
9,9,2550362,1,prior,10,4,8,30.0,196,1,1,both,Soda,77,7,9.0,Least busy,Least busy days,Average orders,10
10,144,2968173,15,prior,15,1,9,7.0,196,2,0,both,Soda,77,7,9.0,Regularly busy,Busiest days,Most orders,22
11,146,1870022,15,prior,17,2,16,8.0,196,6,1,both,Soda,77,7,9.0,Regularly busy,Regularly busy,Most orders,22
12,147,1911383,15,prior,18,2,11,7.0,196,1,1,both,Soda,77,7,9.0,Regularly busy,Regularly busy,Most orders,22
13,150,2715276,15,prior,21,1,9,7.0,196,1,1,both,Soda,77,7,9.0,Regularly busy,Busiest days,Most orders,22
14,151,487368,15,prior,22,1,10,14.0,196,1,1,both,Soda,77,7,9.0,Regularly busy,Busiest days,Most orders,22
15,209,2293453,19,prior,2,5,14,6.0,196,3,0,both,Soda,77,7,9.0,Regularly busy,Regularly busy,Most orders,9
16,212,1973799,19,prior,5,6,12,8.0,196,15,1,both,Soda,77,7,9.0,Regularly busy,Regularly busy,Most orders,9
17,214,532817,19,prior,7,4,17,6.0,196,1,1,both,Soda,77,7,9.0,Least busy,Least busy days,Average orders,9
18,232,1573906,21,prior,10,3,10,6.0,196,2,0,both,Soda,77,7,9.0,Regularly busy,Least busy days,Most orders,33
19,458,1593000,31,prior,10,3,8,7.0,196,17,0,both,Soda,77,7,9.0,Regularly busy,Least busy days,Average orders,20
20,465,2231262,31,prior,17,3,11,8.0,196,14,1,both,Soda,77,7,9.0,Regularly busy,Least busy days,Most orders,20
21,617,2580647,43,prior,6,4,16,4.0,196,9,0,both,Soda,77,7,9.0,Least busy,Least busy days,Most orders,11
22,620,2187180,43,prior,9,4,12,3.0,196,1,1,both,Soda,77,7,9.0,Least busy,Least busy days,Most orders,11
23,751,2497897,52,prior,1,1,9,0.0,196,4,0,both,Soda,77,7,9.0,Regularly busy,Busiest days,Most orders,27
24,752,1318871,52,prior,2,1,10,7.0,196,5,1,both,Soda,77,7,9.0,Regularly busy,Busiest days,Most orders,27

# Deriving Columns with Loc()

In [16]:
df_orders_products_merged.loc[df_orders_products_merged['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [17]:
df_orders_products_merged.loc[(df_orders_products_merged['max_order'] <= 40) & (df_orders_products_merged['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [18]:
df_orders_products_merged.loc[df_orders_products_merged['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [19]:
df_orders_products_merged['loyalty_flag'].value_counts(dropna = False)

Regular customer    15891077
Loyal customer      10293737
New customer         6249398
Name: loyalty_flag, dtype: int64

In [20]:
df_orders_products_merged.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,...,_merge,product_name,aisle_id,department_id,prices,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,0,2539329,1,prior,1,2,8,0.0,196,1,...,both,Soda,77,7,9.0,Regularly busy,Regularly busy,Average orders,10,New customer
1,1,2398795,1,prior,2,3,7,15.0,196,1,...,both,Soda,77,7,9.0,Regularly busy,Least busy days,Average orders,10,New customer
2,2,473747,1,prior,3,3,12,21.0,196,1,...,both,Soda,77,7,9.0,Regularly busy,Least busy days,Most orders,10,New customer
3,3,2254736,1,prior,4,4,7,29.0,196,1,...,both,Soda,77,7,9.0,Least busy,Least busy days,Average orders,10,New customer
4,4,431534,1,prior,5,4,15,28.0,196,1,...,both,Soda,77,7,9.0,Least busy,Least busy days,Most orders,10,New customer

In [21]:
# You learned already that to access a single column in a dataframe, you can index it like so: df['column']

In [22]:


# check the accuracy of the 'loyalty_flag' column with output from columns 'user_id', 'max_order', and 'loyalty_flag' column

df_orders_products_merged[['user_id', 'max_order', 'loyalty_flag']].sample(30)

# The first set of brackets is the same as the brackets used in df['column'] above,
# while the second set of brackets is indicating that what you’re indexing is a list of multiple columns (and lists are always included within brackets).
# This is why there are two sets of brackets.

          user_id  max_order      loyalty_flag
4608673     99495         77    Loyal customer
11889257   105566         50    Loyal customer
6259783     33927         30  Regular customer
22534619    41303         23  Regular customer
20751346    32073         62    Loyal customer
30017759   151879          8      New customer
21745107    41346         21  Regular customer
4753662     60536         28  Regular customer
4007756      9381          5      New customer
7966961     40823         14  Regular customer
26841560    68124         29  Regular customer
5962525     16141         40  Regular customer
21406780   198789         18  Regular customer
30577407   163784         69    Loyal customer
17427668   112055          4      New customer
18894726   197191         40  Regular customer
21795351    31446         47    Loyal customer
26850176   126152         78    Loyal customer
29550170     6725          8      New customer
7080975    100500         33  Regular customer
19987208   181073         14  Regular customer
29619778    11709         23  Regular customer
17220522   187072          5      New customer
19945227     8427         14  Regular customer
10045356    79703         25  Regular customer
18739430    31651          5      New customer
10509467   174565          5      New customer
13441364    56487         38  Regular customer
5340115    111202         12  Regular customer
25575393   134540         98    Loyal customer

# Task 4.8

# Step 2

In [23]:

#Aggregrating Mean

df_orders_products_merged.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457687
2                17.277920
3                17.179756
4                17.811403
5                15.213779
6                16.439806
7                17.225773
8                15.340520
9                15.895474
10               20.197148
11               16.170828
12               15.887622
13               16.583304
14               16.757377
15               16.165037
16               17.663250
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

# Step 3

In [ ]:
#The results for the entire dataframe differ from the subset
The average result of order_number from the subset (1000000) is greater than the average result of entire dataframe (except the department_id: 17)df.groupby('department_id').agg({'order_number': ['mean']})

#The average result of order_number from the subset (1000000) is greater than the average result of entire dataframe (except the department_id: 17)

# Step 4
#done

In [25]:
print('The mean, min and max of prices grouped by the loyalty_flag column in df_orders_products_merged:')
df_orders_products_merged.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

The mean, min and max of prices grouped by the loyalty_flag column in df_orders_products_merged:

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.388747  1.0  99999.0
New customer      13.294370  1.0  99999.0
Regular customer  12.496203  1.0  99999.0

Observations

It's intriguing that new customers have higher average purchase prices than the other two client categories, and even devoted consumers have lower average purchases than the others. In this case, the maximum price seems strange when compared to the mean value. Further analysis will be done on this number because the distribution has been distorted by the value of 99.999.

In [26]:
# Run descriptive statistics on the 'prices' column

print('Descriptive statistics of the prices column:')
df_orders_products_merged['prices'].describe()

Descriptive statistics of the prices column:

count    3.243421e+07
mean     1.198114e+01
std      4.954311e+02
min      1.000000e+00
25%      4.200000e+00
50%      7.400000e+00
75%      1.130000e+01
max      9.999900e+04
Name: prices, dtype: float64

Observations

1. Since the greatest price is 99.999 and the average (mean) price is 11.9, there is a significant disparity between the two values.
2. The confirmed standard deviation, which has a value of 495.655, indicates that there is significant variance in the data, particularly for large values that are higher than the mean.

In [27]:
# Check for abnormal values in the 'prices' column

print('Check for abnormal values in the prices column:')
df_orders_products_merged['prices'].sort_values(ascending = False)

Check for abnormal values in the prices column:

29192983    99999.0
29192963    99999.0
29192971    99999.0
29192970    99999.0
29192969    99999.0
             ...
23563370        1.0
23563371        1.0
23563372        1.0
23563373        1.0
7882813         1.0
Name: prices, Length: 32434212, dtype: float64

In [28]:
print('Check for abnormal values in the prices column:')

df_orders_products_merged['prices'].drop_duplicates().sort_values(ascending = False)

Check for abnormal values in the prices column:

29192575    99999.0
10030345    14900.0
18529046       25.0
25785942       24.9
28452491       24.8
             ...
3384024         1.4
632766          1.3
5488887         1.2
5147325         1.1
60725           1.0
Name: prices, Length: 242, dtype: float64

Observation: The 99.999 and 14.900 prices look weird (that's a lot higher than the others)

In [29]:
# Get the output of df_orders_products_merged when the value in the 'prices' column is 99999 or 14900

max_price = df_orders_products_merged.loc[df_orders_products_merged['prices'].isin([99999, 14900])]

In [30]:
# Sample output:

print('Sample output of df_orders_products_merged when the value in the prices column is either 99999 or 14900:')
max_price.sample(5)

Sample output of df_orders_products_merged when the value in the prices column is either 99999 or 14900:

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,...,_merge,product_name,aisle_id,department_id,prices,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
10031559,1001630,2714342,60192,prior,6,5,7,28.0,21553,6,...,both,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,Regularly busy,Regularly busy,Average orders,7,New customer
10034144,2936801,2834586,177179,prior,25,5,15,3.0,21553,3,...,both,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,Regularly busy,Regularly busy,Most orders,94,Loyal customer
10032306,1582887,496171,95044,prior,11,2,17,17.0,21553,8,...,both,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,Regularly busy,Regularly busy,Average orders,34,Regular customer
10033715,2638588,1550467,158859,prior,14,3,1,30.0,21553,8,...,both,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,Regularly busy,Least busy days,Fewest orders,16,Regular customer
10032799,1888951,2398584,113384,prior,66,1,14,7.0,21553,3,...,both,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,Regularly busy,Busiest days,Most orders,99,Loyal customer

In [31]:
# Descriptive statistics on max_price

print('Descriptive statistics on max_price:')
max_price.describe()

# I need to scroll to the right to find the price, department_id and product_id

Descriptive statistics on max_price:

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,aisle_id,department_id,prices,max_order
count,5.127000e+03,5.127000e+03,5127.000000,5127.000000,5127.000000,5127.000000,5127.000000,5127.000000,5127.000000,5127.000000,5127.000000,5127.0,5127.000000,5127.000000
mean,1.762807e+06,1.708876e+06,106117.185684,15.302126,2.750536,13.473376,11.084455,23201.815682,7.986347,0.613614,104.732592,16.0,26485.547494,29.791691
std,9.718637e+05,9.838956e+05,58594.982659,16.691849,2.010892,4.137326,9.253638,4153.742747,6.868889,0.486968,8.231346,0.0,29186.636448,24.929207
min,1.710000e+02,4.300000e+01,17.000000,1.000000,0.000000,0.000000,0.000000,21553.000000,1.000000,0.000000,84.000000,16.0,14900.000000,3.000000
25%,9.681885e+05,8.642320e+05,58136.000000,4.000000,1.000000,10.000000,4.000000,21553.000000,3.000000,0.000000,108.000000,16.0,14900.000000,12.000000
50%,1.766142e+06,1.693799e+06,106021.000000,9.000000,3.000000,13.000000,8.000000,21553.000000,6.000000,1.000000,108.000000,16.0,14900.000000,21.000000
75%,2.597821e+06,2.567244e+06,156389.000000,20.000000,5.000000,16.000000,16.000000,21553.000000,11.000000,1.000000,108.000000,16.0,14900.000000,41.000000
max,3.418473e+06,3.421047e+06,206049.000000,99.000000,6.000000,23.000000,30.000000,33664.000000,72.000000,1.000000,108.000000,16.0,99999.000000,99.000000

Observation: Incredibly high prices (14.900 and 99.999) both from the department_id 16 with product_id 21553 and 33664

In [32]:
# Find the product_name with product_id 21553 and 33664

df_orders_products_merged.loc[df_orders_products_merged['product_id'].isin([21553, 33664])]

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,...,_merge,product_name,aisle_id,department_id,prices,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
10030345,171,912404,17,prior,12,2,14,5.0,21553,5,...,both,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,Regularly busy,Regularly busy,Most orders,40,Regular customer
10030346,181,603376,17,prior,22,6,16,4.0,21553,3,...,both,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,Regularly busy,Regularly busy,Most orders,40,Regular customer
10030347,1944,3264360,135,prior,2,2,21,13.0,21553,6,...,both,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,Regularly busy,Regularly busy,Average orders,4,New customer
10030348,1945,892534,135,prior,3,0,8,12.0,21553,3,...,both,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,Busiest day,Busiest days,Average orders,4,New customer
10030349,5708,229704,342,prior,8,1,19,30.0,21553,9,...,both,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,Regularly busy,Busiest days,Average orders,16,Regular customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29193268,3386542,2249946,204099,prior,29,0,8,4.0,33664,1,...,both,2 % Reduced Fat Milk,84,16,99999.0,Busiest day,Busiest days,Average orders,39,Regular customer
29193269,3386544,2363282,204099,prior,31,0,9,2.0,33664,1,...,both,2 % Reduced Fat Milk,84,16,99999.0,Busiest day,Busiest days,Most orders,39,Regular customer
29193270,3391313,3181945,204395,prior,13,3,15,8.0,33664,25,...,both,2 % Reduced Fat Milk,84,16,99999.0,Regularly busy,Least busy days,Most orders,15,Regular customer
29193271,3405096,2486215,205227,prior,7,3,20,4.0,33664,8,...,both,2 % Reduced Fat Milk,84,16,99999.0,Regularly busy,Least busy days,Average orders,12,Regular customer
29193272,3405099,2232716,205227,prior,10,0,11,4.0,33664,23,...,both,2 % Reduced Fat Milk,84,16,99999.0,Busiest day,Busiest days,Most orders,12,Regular customer

Observation:
1. The price of 14.900 comes from Lowfat 2% Milkfat Cottage Cheese (with product_id 21553)
2. The price of 99.999 comes from 2 % Reduced Fat Milk (with product_id 33664)

In [33]:
# Create a filter 'dairy' for records with the department_id value of 16, 
# and then 'dairy_without_weird' to exclude records (without very high prices)
# using ~ to exclude the data

dairy = df_orders_products_merged.loc[df_orders_products_merged['department_id'].isin([16])]
dairy_without_weird = dairy.loc[~dairy['prices'].isin([99999, 14900])]
print('Filter for records with the department_id value of 16, while excluding records without the unusually high prices:')
dairy_without_weird.sample(5)

Filter for records with the department_id value of 16, while excluding records without the unusually high prices:

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,...,_merge,product_name,aisle_id,department_id,prices,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
6462827,842002,3094837,50588,prior,3,0,8,17.0,4799,4,...,both,Shredded Parmesan,21,16,14.4,Busiest day,Busiest days,Average orders,7,New customer
16009945,239712,235301,14505,prior,3,3,9,11.0,5785,2,...,both,Organic Reduced Fat 2% Milk,84,16,7.9,Regularly busy,Least busy days,Most orders,46,Loyal customer
26557547,3107979,823696,187431,prior,26,4,21,2.0,32831,22,...,both,Cherry Vanilla Cherry On The Bottom Cream Top,120,16,5.4,Least busy,Least busy days,Average orders,96,Loyal customer
6356571,3271053,2346758,197161,prior,41,6,11,5.0,42736,2,...,both,Unsalted Butter,36,16,10.9,Regularly busy,Regularly busy,Most orders,48,Loyal customer
24358551,3100336,3417524,186961,prior,13,0,2,30.0,22089,6,...,both,Vitamin D Milk,84,16,9.2,Busiest day,Busiest days,Fewest orders,14,Regular customer

In [52]:
# Check to see if the filter is working properly

print('Maximum price in the dairy_without_weird filter:')
dairy_without_weird['prices'].max()

Maximum price in the dairy_without_weird filter:

15.0

Observation: After excluding unusual values, the max price becomes more reasonable

# Step 5

In [54]:
# Basic statistics of df_orders_products_merged by 'loyalty_flag' with the updated 'prices' column

print('The mean, min and max of prices grouped by loyalty_flag with the updated prices column in df_orders_products_merged:')
df_orders_products_merged.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

The mean, min and max of prices grouped by loyalty_flag with the updated prices column in df_orders_products_merged:

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.388747  1.0  99999.0
New customer      13.294370  1.0  99999.0
Regular customer  12.496203  1.0  99999.0

# Step 6

# Create a spending flag for each user based on the average price across all their orders using the following criteria:

1. If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
2. If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [55]:
# Creating “average_price” column using transform()

df_orders_products_merged['average_price'] = df_orders_products_merged.groupby(['user_id'])['prices'].transform(np.mean)

In [56]:
df_orders_products_merged.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,...,product_name,aisle_id,department_id,prices,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price
0,0,2539329,1,prior,1,2,8,0.0,196,1,...,Soda,77,7,9.0,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
1,1,2398795,1,prior,2,3,7,15.0,196,1,...,Soda,77,7,9.0,Regularly busy,Least busy days,Average orders,10,New customer,6.367797
2,2,473747,1,prior,3,3,12,21.0,196,1,...,Soda,77,7,9.0,Regularly busy,Least busy days,Most orders,10,New customer,6.367797
3,3,2254736,1,prior,4,4,7,29.0,196,1,...,Soda,77,7,9.0,Least busy,Least busy days,Average orders,10,New customer,6.367797
4,4,431534,1,prior,5,4,15,28.0,196,1,...,Soda,77,7,9.0,Least busy,Least busy days,Most orders,10,New customer,6.367797

In [57]:
# Rounding averages 

df_orders_products_merged['average_price'] = df_orders_products_merged['average_price'].round(2)

In [58]:
df_orders_products_merged.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,...,product_name,aisle_id,department_id,prices,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price
0,0,2539329,1,prior,1,2,8,0.0,196,1,...,Soda,77,7,9.0,Regularly busy,Regularly busy,Average orders,10,New customer,6.37
1,1,2398795,1,prior,2,3,7,15.0,196,1,...,Soda,77,7,9.0,Regularly busy,Least busy days,Average orders,10,New customer,6.37
2,2,473747,1,prior,3,3,12,21.0,196,1,...,Soda,77,7,9.0,Regularly busy,Least busy days,Most orders,10,New customer,6.37
3,3,2254736,1,prior,4,4,7,29.0,196,1,...,Soda,77,7,9.0,Least busy,Least busy days,Average orders,10,New customer,6.37
4,4,431534,1,prior,5,4,15,28.0,196,1,...,Soda,77,7,9.0,Least busy,Least busy days,Most orders,10,New customer,6.37

In [59]:
# Creating a 'spending_flag' flag

df_orders_products_merged.loc[df_orders_products_merged['average_price'] < 10, 'spending_flag'] = 'Low spender'

In [60]:
# Creating a 'spending_flag' flag

df_orders_products_merged.loc[df_orders_products_merged['average_price'] >= 10, 'spending_flag'] = 'High spender'

In [61]:
df_orders_products_merged.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,...,aisle_id,department_id,prices,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag
0,0,2539329,1,prior,1,2,8,0.0,196,1,...,77,7,9.0,Regularly busy,Regularly busy,Average orders,10,New customer,6.37,Low spender
1,1,2398795,1,prior,2,3,7,15.0,196,1,...,77,7,9.0,Regularly busy,Least busy days,Average orders,10,New customer,6.37,Low spender
2,2,473747,1,prior,3,3,12,21.0,196,1,...,77,7,9.0,Regularly busy,Least busy days,Most orders,10,New customer,6.37,Low spender
3,3,2254736,1,prior,4,4,7,29.0,196,1,...,77,7,9.0,Least busy,Least busy days,Average orders,10,New customer,6.37,Low spender
4,4,431534,1,prior,5,4,15,28.0,196,1,...,77,7,9.0,Least busy,Least busy days,Most orders,10,New customer,6.37,Low spender

In [62]:
# Check the frequency

df_orders_products_merged['spending_flag'].value_counts(dropna = False)

Low spender     31798102
High spender      636110
Name: spending_flag, dtype: int64

# Step 7
Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:

1. If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
2. If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
3. If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [63]:
# Creating “median_prior_orders” column using transform()

df_orders_products_merged['median_prior_orders'] = df_orders_products_merged.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [65]:
df_orders_products_merged.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,...,department_id,prices,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag,median_prior_orders
0,0,2539329,1,prior,1,2,8,0.0,196,1,...,7,9.0,Regularly busy,Regularly busy,Average orders,10,New customer,6.37,Low spender,20.0
1,1,2398795,1,prior,2,3,7,15.0,196,1,...,7,9.0,Regularly busy,Least busy days,Average orders,10,New customer,6.37,Low spender,20.0
2,2,473747,1,prior,3,3,12,21.0,196,1,...,7,9.0,Regularly busy,Least busy days,Most orders,10,New customer,6.37,Low spender,20.0
3,3,2254736,1,prior,4,4,7,29.0,196,1,...,7,9.0,Least busy,Least busy days,Average orders,10,New customer,6.37,Low spender,20.0
4,4,431534,1,prior,5,4,15,28.0,196,1,...,7,9.0,Least busy,Least busy days,Most orders,10,New customer,6.37,Low spender,20.0

In [66]:
# Creating a 'order_frequency_flag' flag

df_orders_products_merged.loc[df_orders_products_merged['median_prior_orders'] > 20, 'order_frequency_flag'] = 'Non-frequent customer'

In [70]:
# Creating a 'order_frequency_flag' flag

df_orders_products_merged.loc[(df_orders_products_merged['median_prior_orders'] > 10) & (df_orders_products_merged['median_prior_orders'] <= 20), 'order_frequency_flag'] = 'Regular customer'

In [71]:
# Creating a 'order_frequency_flag' flag

df_orders_products_merged.loc[df_orders_products_merged['median_prior_orders'] <= 10, 'order_frequency_flag'] = 'Frequent customer'

In [72]:
df_orders_products_merged.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,...,prices,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag,median_prior_orders,order_frequency_flag
0,0,2539329,1,prior,1,2,8,0.0,196,1,...,9.0,Regularly busy,Regularly busy,Average orders,10,New customer,6.37,Low spender,20.0,Regular customer
1,1,2398795,1,prior,2,3,7,15.0,196,1,...,9.0,Regularly busy,Least busy days,Average orders,10,New customer,6.37,Low spender,20.0,Regular customer
2,2,473747,1,prior,3,3,12,21.0,196,1,...,9.0,Regularly busy,Least busy days,Most orders,10,New customer,6.37,Low spender,20.0,Regular customer
3,3,2254736,1,prior,4,4,7,29.0,196,1,...,9.0,Least busy,Least busy days,Average orders,10,New customer,6.37,Low spender,20.0,Regular customer
4,4,431534,1,prior,5,4,15,28.0,196,1,...,9.0,Least busy,Least busy days,Most orders,10,New customer,6.37,Low spender,20.0,Regular customer

In [73]:
# Check the frequency

df_orders_products_merged['order_frequency_flag'].value_counts(dropna = False)

Frequent customer        22814871
Regular customer          6929354
Non-frequent customer     2689987
Name: order_frequency_flag, dtype: int64

In [74]:
# Check the null values

print('Records in df_orders_products_merged with null values in column order_frequency_flag:')
df_orders_products_merged[df_orders_products_merged['order_frequency_flag'].isnull()][['user_id', 'days_since_prior_order', 'median_prior_orders', 'order_frequency_flag']]

Records in df_orders_products_merged with null values in column order_frequency_flag:

Empty DataFrame
Columns: [user_id, days_since_prior_order, median_prior_orders, order_frequency_flag]
Index: []

In [75]:
# Check user_id 159838

df_orders_products_merged[df_orders_products_merged['user_id'] == 159838]

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,...,prices,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag,median_prior_orders,order_frequency_flag
13652228,2655584,895835,159838,prior,1,0,17,0.0,10749,3,...,5.7,Busiest day,Busiest days,Average orders,6,New customer,10.48,High spender,0.0,Frequent customer
16346534,2655584,895835,159838,prior,1,0,17,0.0,1511,4,...,14.3,Busiest day,Busiest days,Average orders,6,New customer,10.48,High spender,0.0,Frequent customer
16346535,2655586,707970,159838,prior,3,1,12,30.0,1511,2,...,14.3,Regularly busy,Busiest days,Most orders,6,New customer,10.48,High spender,0.0,Frequent customer
16346536,2655587,3275273,159838,prior,4,2,15,15.0,1511,2,...,14.3,Regularly busy,Regularly busy,Most orders,6,New customer,10.48,High spender,0.0,Frequent customer
16346537,2655589,2922254,159838,prior,6,4,13,19.0,1511,2,...,14.3,Least busy,Least busy days,Most orders,6,New customer,10.48,High spender,0.0,Frequent customer
17276282,2655584,895835,159838,prior,1,0,17,0.0,33401,6,...,14.8,Busiest day,Busiest days,Average orders,6,New customer,10.48,High spender,0.0,Frequent customer
17647059,2655584,895835,159838,prior,1,0,17,0.0,23695,2,...,4.7,Busiest day,Busiest days,Average orders,6,New customer,10.48,High spender,0.0,Frequent customer
24162885,2655584,895835,159838,prior,1,0,17,0.0,21334,5,...,10.2,Busiest day,Busiest days,Average orders,6,New customer,10.48,High spender,0.0,Frequent customer
25907061,2655584,895835,159838,prior,1,0,17,0.0,22198,1,...,1.7,Busiest day,Busiest days,Average orders,6,New customer,10.48,High spender,0.0,Frequent customer

In [76]:
df_orders_products_merged.shape

(32434212, 25)

# Step 9
Export your dataframe as a pickle file and store it correctly in your “Prepared Data” folder.

In [77]:
#exportpath

exportpath = r'C:\Users\kanch\Documents\10-08-2023 Instacart Basket Analysis\02 Data\Prepared Data'

In [78]:
df_orders_products_merged.to_pickle(os.path.join(path,'orders_products_merged_updated_2.pkl'))